
header{
	background-color: #ccc;
}

nav ol{
	padding:0em;
}

nav ol li{
	list-style-type: none;
}

nav a{
	display:block;
	padding:1em;
	text-decoration: none;
	color: #0680e5;
}

nav a:hover{
	background-color: #1579db;
	color: white;
}

.headline{
	background-color: #e2e2e2;
	text-align: center;
}

.headline h1{
	text-align:center;
}

.headline h2{
	font-weight: normal;
}


/*css for moon page*/


.venus-fact{
	background-color: #eeeeee;
}


/*css for venus page*/


.venus-h1{
	text-align:center;
}

.para{
	background-color: #fff;
	padding: .5em;
}

.orbit{
	background-color: #e2e2e2;
}


/*css for all footers*/


footer ol li{
	list-style-type:none;
	display:inline-block;
}

footer ol{
	padding:0em;
}

footer li a{
	text-decoration: none;
	color:#0680e5;
}

.foot-ex{
	background-color: #ccc;
}



@media only screen and (min-width:25em){
	ol li{
		display:inline-block;
	}

	nav{
		text-align:center;
	}

}


@media only screen and (min-width:38em){
	nav{
		text-align: left;
	}

}

